In [2]:
import sys
import numbers
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris

from ipywidgets import widgets, Layout
from IPython.display import clear_output, display

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
sys.path

['/home/marenz/DataFrameLabeler',
 '/home/marenz/miniconda3/envs/jupy/lib/python37.zip',
 '/home/marenz/miniconda3/envs/jupy/lib/python3.7',
 '/home/marenz/miniconda3/envs/jupy/lib/python3.7/lib-dynload',
 '',
 '/home/marenz/.local/lib/python3.7/site-packages',
 '/home/marenz/miniconda3/envs/jupy/lib/python3.7/site-packages',
 '/home/marenz/miniconda3/envs/jupy/lib/python3.7/site-packages/IPython/extensions',
 '/home/marenz/.ipython']

In [5]:
iris = load_iris()

In [6]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['class'] = iris.target
df['class_name'] = df['class'].replace({i: value for i, value in enumerate(iris.target_names)})

In [7]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [8]:
def f(idx, row):
    fig = plt.figure()
    plt.plot([i for i in row if isinstance(i, numbers.Number)])
    plt.close(fig)
    return fig

In [66]:
from DataFrameLabeler import DataFrameLabeler

In [100]:
lbl = DataFrameLabeler(df.iloc[0:10, :],
                       labels=['1', '2', '3'],
                       plotter=f,
                       target_col='new_class_name',
                       overwrite_existing_targets=False,
                       width=3, height=2)

VBox(children=(HBox(children=(VBox(children=(ToggleButtons(layout=Layout(width='100%'), options=('1', '2', '3'â€¦

In [76]:
lbl.prev_batch()

In [89]:
lbl.rowiter.__dict__

{'index': RangeIndex(start=0, stop=14, step=1),
 'df':     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
 0                 5.1               3.5                1.4               0.2
 1                 4.9               3.0                1.4               0.2
 2                 4.7               3.2                1.3               0.2
 3                 4.6               3.1                1.5               0.2
 4                 5.0               3.6                1.4               0.2
 5                 5.4               3.9                1.7               0.4
 6                 4.6               3.4                1.4               0.3
 7                 5.0               3.4                1.5               0.2
 8                 4.4               2.9                1.4               0.2
 9                 4.9               3.1                1.5               0.1
 10                5.4               3.7                1.5               0.2
 11                4.8               3.4                1.6               0.2
 12                4.8               3.0                1.4               0.1
 13                4.3               3.0                1.1               0.1

     class class_name  new_class_name
 0       0     setosa             NaN
 1       0     setosa             NaN
 2       0     setosa             NaN
 3       0     setosa             NaN
 4       0     setosa             NaN
 5       0     setosa             NaN
 6       0     setosa             NaN
 7       0     setosa             NaN
 8       0     setosa             NaN
 9       0     setosa             NaN
 10      0     setosa             NaN
 11      0     setosa             NaN
 12      0     setosa             NaN
 13      0     setosa             NaN  ,
 'cur': 12,
 'length': 14}

In [94]:
lbl.get_labeled_data()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name,new_class_name
0,5.1,3.5,1.4,0.2,0,setosa,1
1,4.9,3.0,1.4,0.2,0,setosa,3
2,4.7,3.2,1.3,0.2,0,setosa,3
3,4.6,3.1,1.5,0.2,0,setosa,3
4,5.0,3.6,1.4,0.2,0,setosa,2
5,5.4,3.9,1.7,0.4,0,setosa,1
6,4.6,3.4,1.4,0.3,0,setosa,NaN
7,5.0,3.4,1.5,0.2,0,setosa,NaN
8,4.4,2.9,1.4,0.2,0,setosa,NaN
9,4.9,3.1,1.5,0.1,0,setosa,NaN

In [95]:
df['new_class_name'] = np.nan
df.iloc[0: 10] = lbl.get_labeled_data()
df.iloc[0: 10]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name,new_class_name
0,5.1,3.5,1.4,0.2,0,setosa,1
1,4.9,3.0,1.4,0.2,0,setosa,3
2,4.7,3.2,1.3,0.2,0,setosa,3
3,4.6,3.1,1.5,0.2,0,setosa,3
4,5.0,3.6,1.4,0.2,0,setosa,2
5,5.4,3.9,1.7,0.4,0,setosa,1
6,4.6,3.4,1.4,0.3,0,setosa,NaN
7,5.0,3.4,1.5,0.2,0,setosa,NaN
8,4.4,2.9,1.4,0.2,0,setosa,NaN
9,4.9,3.1,1.5,0.1,0,setosa,NaN

In [70]:
df['new_class_name'].isin(['1', '2', '3']).loc[df.index[2]]

True

In [66]:
df.new_class_name.iloc[0]

'1'

In [10]:
df.loc[df.index[1:3]]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa

In [17]:
df.loc[df.index[1:3]

SyntaxError: unexpected EOF while parsing (<ipython-input-17-d9d55271c40a>, line 1)