In [1]:
import sys
import numbers
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris

from ipywidgets import widgets, Layout
from IPython.display import clear_output, display

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
sys.path

['/home/marenz/dev/DataFrameLabeler',
 '/opt/anaconda3/envs/jupybase/lib/python37.zip',
 '/opt/anaconda3/envs/jupybase/lib/python3.7',
 '/opt/anaconda3/envs/jupybase/lib/python3.7/lib-dynload',
 '',
 '/opt/anaconda3/envs/jupybase/lib/python3.7/site-packages',
 '/opt/anaconda3/envs/jupybase/lib/python3.7/site-packages/IPython/extensions',
 '/home/marenz/.ipython']

In [4]:
iris = load_iris()

In [5]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['class'] = iris.target
df['class_name'] = df['class'].replace({i: value for i, value in enumerate(iris.target_names)})

In [6]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [7]:
def f(idx, row):
    fig = plt.figure()
    plt.plot([i for i in row if isinstance(i, numbers.Number)])
    plt.close(fig)
    return fig

In [18]:
from DataFrameLabeler import DataFrameLabeler

In [21]:
lbl = DataFrameLabeler(df.iloc[0:10, :],
                       labels=['1', '2', '3'],
                       plotter=f,
                       target_col='new_class_name',
                       overwrite_existing_targets=True,
                       width=3, height=2)

VBox(children=(HBox(children=(VBox(children=(ToggleButtons(layout=Layout(width='100%'), options=('1', '2', '3'â€¦

In [13]:
lbl.get_labeled_data()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name,new_class_name
0,5.1,3.5,1.4,0.2,0,setosa,2
1,4.9,3.0,1.4,0.2,0,setosa,NaN
2,4.7,3.2,1.3,0.2,0,setosa,3
3,4.6,3.1,1.5,0.2,0,setosa,NaN
4,5.0,3.6,1.4,0.2,0,setosa,1
5,5.4,3.9,1.7,0.4,0,setosa,2
6,4.6,3.4,1.4,0.3,0,setosa,NaN
7,5.0,3.4,1.5,0.2,0,setosa,1
8,4.4,2.9,1.4,0.2,0,setosa,NaN
9,4.9,3.1,1.5,0.1,0,setosa,3

In [14]:
df['new_class_name'] = np.nan
df.iloc[0: 10] = lbl.get_labeled_data()
df.iloc[0: 10]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name,new_class_name
0,5.1,3.5,1.4,0.2,0,setosa,2
1,4.9,3.0,1.4,0.2,0,setosa,NaN
2,4.7,3.2,1.3,0.2,0,setosa,3
3,4.6,3.1,1.5,0.2,0,setosa,NaN
4,5.0,3.6,1.4,0.2,0,setosa,1
5,5.4,3.9,1.7,0.4,0,setosa,2
6,4.6,3.4,1.4,0.3,0,setosa,NaN
7,5.0,3.4,1.5,0.2,0,setosa,1
8,4.4,2.9,1.4,0.2,0,setosa,NaN
9,4.9,3.1,1.5,0.1,0,setosa,3

In [34]:
out1 = widgets.Output(layout={'border': '1px solid black'})
out2 = widgets.Output(layout={'border': '1px solid black'})

In [94]:
fig = plt.figure()
plt.plot(df['sepal width (cm)'])
plt.close(fig)

In [81]:
with out1:
    for i in range(10):
        out1.clear_output()
        print(i, 'Hello world!')

In [96]:
with out2:
    out2.clear_output()
    display(f())

In [ ]:
widgets.ButtonStyle()