In [173]:
import numbers
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris

from ipywidgets import widgets, Layout
from IPython.display import clear_output, display

In [5]:
iris = load_iris()

In [22]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['class'] = iris.target
df['class_name'] = df['class'].replace({i: value for i, value in enumerate(iris.target_names)})

In [23]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [207]:
it = df.iterrows()

In [208]:
for i in range(10):
    print(next(it))

(0, sepal length (cm)       5.1
sepal width (cm)        3.5
petal length (cm)       1.4
petal width (cm)        0.2
class                     0
class_name           setosa
Name: 0, dtype: object)
(1, sepal length (cm)       4.9
sepal width (cm)          3
petal length (cm)       1.4
petal width (cm)        0.2
class                     0
class_name           setosa
Name: 1, dtype: object)
(2, sepal length (cm)       4.7
sepal width (cm)        3.2
petal length (cm)       1.3
petal width (cm)        0.2
class                     0
class_name           setosa
Name: 2, dtype: object)
(3, sepal length (cm)       4.6
sepal width (cm)        3.1
petal length (cm)       1.5
petal width (cm)        0.2
class                     0
class_name           setosa
Name: 3, dtype: object)
(4, sepal length (cm)         5
sepal width (cm)        3.6
petal length (cm)       1.4
petal width (cm)        0.2
class                     0
class_name           setosa
Name: 4, dtype: object)
(5, sepal length (cm)       5.4
sepal width (cm)        3.9
petal length (cm)       1.7
petal width (cm)        0.4
class                     0
class_name           setosa
Name: 5, dtype: object)
(6, sepal length (cm)       4.6
sepal width (cm)        3.4
petal length (cm)       1.4
petal width (cm)        0.3
class                     0
class_name           setosa
Name: 6, dtype: object)
(7, sepal length (cm)         5
sepal width (cm)        3.4
petal length (cm)       1.5
petal width (cm)        0.2
class                     0
class_name           setosa
Name: 7, dtype: object)
(8, sepal length (cm)       4.4
sepal width (cm)        2.9
petal length (cm)       1.4
petal width (cm)        0.2
class                     0
class_name           setosa
Name: 8, dtype: object)
(9, sepal length (cm)       4.9
sepal width (cm)        3.1
petal length (cm)       1.5
petal width (cm)        0.1
class                     0
class_name           setosa
Name: 9, dtype: object)

In [199]:
for i, row in df.iterrows():
    print([isinstance(i, numbers.Number) for i in row])
    print([i for i in row])
    break

[True, True, True, True, True, False]
[5.1, 3.5, 1.4, 0.2, 0, 'setosa']

In [223]:
def f(idx, row):
    fig = plt.figure()
    plt.plot([i for i in row if isinstance(i, numbers.Number)])
    plt.close(fig)
    return fig

In [257]:
class DataFrameLabeler():
    def __init__(self, data, *, label_col = None, labels = None, plotter = None):
        self.data = data
        if label_col is not None:
            self.options = self.data[label_col].unique()
        elif labels is not None:
            self.options = labels
        else:
            raise ValueError('Either label_col or labels must be set.')
        
        self.out1 = widgets.Output()
        self.out2 = widgets.Output()
        self.out3 = widgets.Output()
        self.out4 = widgets.Output()
        
        self.samples_batch = 4
        self.remaining_idx = self.data.index
        self.plotter = plotter
        self.it = self.data.iterrows()
        self.i = 0

        self.render()
 
    def make_selection(self, row):
        return widgets.ToggleButtons(options=self.options,
                                     orientation='horizontal',
                                    value=)
    
    def make_box(self, out, row):
        out.clear_output()
        with out:
            display(self.plotter(row[0], row[1]))
        return widgets.VBox([self.make_selection(row[1]), out])
    
    def make_row(self, outs, rows):
        return widgets.HBox([self.make_box(outs[0], rows[0]), self.make_box(outs[1], rows[1])])
    
    def make_next_button(self, handler=None):
        btn = widgets.Button(description='Next',
                              layout=Layout(width='100%', height='40px'))
        if handler is not None:
            btn.on_click(handler)
        return btn
    
    def next_batch(self, _):
        self.render()
        
    def render(self):
        clear_output()
        
        rows = [next(self.it) for i in range(4)]
        
        display(widgets.VBox([self.make_row([self.out1, self.out2], rows[:2]),
                              self.make_row([self.out3, self.out4], rows[2:]),
                              self.make_next_button(handler=self.next_batch)]))

In [258]:
DataFrameLabeler(df, label_col='class_name', plotter=f)

VBox(children=(HBox(children=(VBox(children=(ToggleButtons(options=('setosa', 'versicolor', 'virginica'), valu…

In [34]:
out1 = widgets.Output(layout={'border': '1px solid black'})
out2 = widgets.Output(layout={'border': '1px solid black'})

In [94]:
fig = plt.figure()
plt.plot(df['sepal width (cm)'])
plt.close(fig)

In [81]:
with out1:
    for i in range(10):
        out1.clear_output()
        print(i, 'Hello world!')

In [96]:
with out2:
    out2.clear_output()
    display(f())

In [ ]:
widgets.ButtonStyle()