In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from ipywidgets import widgets, Layout
from IPython.display import clear_output, display

from context import DataFrameLabeler

In [45]:
length = 100
cols = ['A', 'B', 'C', 'D', 'E']
df = pd.DataFrame(np.random.rand(length, len(cols)), columns=cols)
#df['class'] = np.random.choice(['FAILURE', 'SUCCESS'], length)

In [48]:
def plotter(idx, row):
    fig = plt.figure()
    plt.plot([i for i in row[cols]])
    plt.close(fig)
    return fig

In [49]:
from DataFrameLabeler import DataFrameLabeler

In [58]:
lbl = DataFrameLabeler(df,
                       labels=['FAILURE', 'SUCCESS'],
                       plotter=plotter,
                       target_col='class_name',
                       width=3, height=2)

VBox(children=(HBox(children=(VBox(children=(ToggleButtons(layout=Layout(width='100%'), options=('FAILURE', 'Sâ€¦

In [57]:
lbl.get_labeled_data().head(10)

          A         B         C         D         E class_name
0  0.077101  0.912770  0.770369  0.039007  0.446212    FAILURE
1  0.627175  0.567108  0.767165  0.485486  0.137122        NaN
2  0.751873  0.086942  0.768026  0.600175  0.792913        NaN
3  0.818236  0.783575  0.083204  0.672013  0.770638        NaN
4  0.888531  0.191707  0.775005  0.606961  0.910753    SUCCESS
5  0.435390  0.520579  0.085532  0.397494  0.347615    FAILURE
6  0.478191  0.541894  0.922050  0.612234  0.670437        NaN
7  0.284497  0.573950  0.269530  0.606480  0.830825        NaN
8  0.745807  0.797949  0.674858  0.871974  0.150273    FAILURE
9  0.556854  0.889698  0.540067  0.774181  0.267512    SUCCESS

In [11]:
df['new_class_name'] = np.nan
df.iloc[0: 10] = lbl.get_labeled_data()
df.iloc[0: 10]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name,new_class_name
0,5.1,3.5,1.4,0.2,0,setosa,NaN
1,4.9,3.0,1.4,0.2,0,setosa,3
2,4.7,3.2,1.3,0.2,0,setosa,NaN
3,4.6,3.1,1.5,0.2,0,setosa,NaN
4,5.0,3.6,1.4,0.2,0,setosa,1
5,5.4,3.9,1.7,0.4,0,setosa,2
6,4.6,3.4,1.4,0.3,0,setosa,NaN
7,5.0,3.4,1.5,0.2,0,setosa,NaN
8,4.4,2.9,1.4,0.2,0,setosa,NaN
9,4.9,3.1,1.5,0.1,0,setosa,3