In [1]:
import sys
import os
import numbers
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris

from ipywidgets import widgets, Layout
from IPython.display import clear_output, display

from context import DataFrameLabeler

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
sys.path

['/home/marenz/DataFrameLabeler/DataFrameLabeler',
 '/home/marenz/DataFrameLabeler/examples',
 '/home/marenz/miniconda3/envs/jupy/lib/python37.zip',
 '/home/marenz/miniconda3/envs/jupy/lib/python3.7',
 '/home/marenz/miniconda3/envs/jupy/lib/python3.7/lib-dynload',
 '',
 '/home/marenz/.local/lib/python3.7/site-packages',
 '/home/marenz/miniconda3/envs/jupy/lib/python3.7/site-packages',
 '/home/marenz/miniconda3/envs/jupy/lib/python3.7/site-packages/IPython/extensions',
 '/home/marenz/.ipython']

In [4]:
iris = load_iris()

In [5]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['class'] = iris.target
df['class_name'] = df['class'].replace({i: value for i, value in enumerate(iris.target_names)})

In [6]:
df = df.sample(30)

In [7]:
def f(idx, row):
    fig = plt.figure()
    plt.plot([i for i in row if isinstance(i, numbers.Number)])
    plt.close(fig)
    return fig

In [8]:
from DataFrameLabeler import DataFrameLabeler

In [9]:
lbl = DataFrameLabeler(df.iloc[0:10, :],
                       label_col='class_name',
                       plotter=f,
                       target_col='new_class_name',
                       width=3, height=2)

VBox(children=(HBox(children=(VBox(children=(ToggleButtons(layout=Layout(width='100%'), options=('setosa', 'veâ€¦

In [21]:
lbl.get_labeled_data()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name,new_class_name
68,6.2,2.2,4.5,1.5,1,versicolor,versicolor
125,7.2,3.2,6.0,1.8,2,virginica,virginica
144,6.7,3.3,5.7,2.5,2,virginica,virginica
87,6.3,2.3,4.4,1.3,1,versicolor,virginica
142,5.8,2.7,5.1,1.9,2,virginica,virginica
149,5.9,3.0,5.1,1.8,2,virginica,virginica
28,5.2,3.4,1.4,0.2,0,setosa,setosa
147,6.5,3.0,5.2,2.0,2,virginica,virginica
56,6.3,3.3,4.7,1.6,1,versicolor,versicolor
46,5.1,3.8,1.6,0.2,0,setosa,versicolor

In [11]:
df['new_class_name'] = np.nan
df.iloc[0: 10] = lbl.get_labeled_data()
df.iloc[0: 10]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name,new_class_name
0,5.1,3.5,1.4,0.2,0,setosa,NaN
1,4.9,3.0,1.4,0.2,0,setosa,3
2,4.7,3.2,1.3,0.2,0,setosa,NaN
3,4.6,3.1,1.5,0.2,0,setosa,NaN
4,5.0,3.6,1.4,0.2,0,setosa,1
5,5.4,3.9,1.7,0.4,0,setosa,2
6,4.6,3.4,1.4,0.3,0,setosa,NaN
7,5.0,3.4,1.5,0.2,0,setosa,NaN
8,4.4,2.9,1.4,0.2,0,setosa,NaN
9,4.9,3.1,1.5,0.1,0,setosa,3

In [70]:
df['new_class_name'].isin(['1', '2', '3']).loc[df.index[2]]

True

In [66]:
df.new_class_name.iloc[0]

'1'

In [10]:
df.loc[df.index[1:3]]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa

In [17]:
df.loc[df.index[1:3]

SyntaxError: unexpected EOF while parsing (<ipython-input-17-d9d55271c40a>, line 1)