In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from ipywidgets import widgets, Layout
from IPython.display import clear_output, display

from context import DataFrameLabeler

In [2]:
%load_ext autoreload
%autoreload 2

In [11]:
length = 100
cols = ['A', 'B', 'C', 'D', 'E']
df = pd.DataFrame(np.random.rand(length, len(cols)), columns=cols)
df['class'] = np.random.choice(['FAILURE', 'SUCCESS'], length)

In [4]:
def plotter(idx, row):
    fig = plt.figure()
    plt.plot([i for i in row[cols]])
    plt.close(fig)
    return fig

In [9]:
from DataFrameLabeler import DataFrameLabeler

In [12]:
lbl = DataFrameLabeler(df,
                       labels=['FAILURE', 'SUCCESS'],
                       plotter=plotter,
                       target_col='class_name',
                       button_type='list',
                       width=3, height=2)

VBox(children=(HBox(children=(VBox(children=(Select(options=('FAILURE', 'SUCCESS'), value=None), Output())), Vâ€¦

In [8]:
lbl.get_labeled_data().head(10)

          A         B         C         D         E  class_name
0  0.030028  0.861794  0.268237  0.731772  0.231763         NaN
1  0.861366  0.219670  0.029468  0.964852  0.075396         NaN
2  0.764841  0.763165  0.369962  0.881152  0.315204         NaN
3  0.252892  0.419312  0.512471  0.147753  0.474614         NaN
4  0.437369  0.131822  0.085312  0.653166  0.081192         NaN
5  0.978548  0.070104  0.159430  0.329999  0.490566         NaN
6  0.444328  0.351211  0.946207  0.385346  0.652413         NaN
7  0.423804  0.986809  0.045615  0.622055  0.763966         NaN
8  0.338150  0.683853  0.561116  0.834883  0.751003         NaN
9  0.210039  0.589412  0.693240  0.227889  0.645940         NaN

In [11]:
df['new_class_name'] = np.nan
df.iloc[0: 10] = lbl.get_labeled_data()
df.iloc[0: 10]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name,new_class_name
0,5.1,3.5,1.4,0.2,0,setosa,NaN
1,4.9,3.0,1.4,0.2,0,setosa,3
2,4.7,3.2,1.3,0.2,0,setosa,NaN
3,4.6,3.1,1.5,0.2,0,setosa,NaN
4,5.0,3.6,1.4,0.2,0,setosa,1
5,5.4,3.9,1.7,0.4,0,setosa,2
6,4.6,3.4,1.4,0.3,0,setosa,NaN
7,5.0,3.4,1.5,0.2,0,setosa,NaN
8,4.4,2.9,1.4,0.2,0,setosa,NaN
9,4.9,3.1,1.5,0.1,0,setosa,3